
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #f7f7f9;
}

body > .panel {
  text-align: center;
  border-radius: 0;
}
body > .panel .icon {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > .panel .panel-body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-main {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media (max-width: 64em) {
  .app-main {
    align-items: center;
    flex-direction: column;
  }
}

.main-mobile {
  text-align: center;
}

.mobile-activity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5vw;
  text-align: right;
  margin-top: 20px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: snow;
  border-radius: 8px;
}
.mobile-activity.u-portrait {
  width: 320px;
  height: 568px;
  flex-direction: column;
}
.mobile-activity.u-landscape {
  width: 568px;
  height: 320px;
  flex-direction: row;
}

.activity-title {
  margin: 0 10px 10px 0;
  font-weight: bold;
}
.activity-section {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid orangered;
}

.activity-section.values-fixed {
  width: 320px;
  height: 320px;
  padding: 10px;
}

.u-portrait .activity-section.values-dynamic {
  width: 100%;
  /* height ~ container width/height * 100 - 4 times the buton margin */
  height: 56.185%;
}
.u-landscape .activity-section.values-dynamic {
  /* width ~ container width/height * 100 - 4 times the buton margin */
  width: 56.185%;
  height: 100%;
}

.activity-section .btn {
  width: 45%;
  height: 45%;
  margin: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
